* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: rgb(121, 171, 231);
}

html,
body {
  height: 100%;
  background-color: rgb(25, 25, 25);
}

input {
  background-color: rgb(121, 171, 231);
  border-radius: 5px;
  color: black;
}

textarea {
  background-color: rgb(121, 171, 231);
  border-radius: 5px;
  color: black;
}

button {
  color: black;
}

.review-image {
  width: 70%;
  display: inline-block;
}

.entire-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.list-item {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid rgb(121, 171, 231);
  gap: 20px;
}

.text-content {
  width: 70%;
}

.review-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  height: 100%;
}

.form-container {
  width: 100%;
  border-bottom: 1px solid rgb(121, 171, 231);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(9, 1fr);
  width: 50%;
}

.form-name {
  grid-column: 1 / 3;
  grid-row: 1/3;
}

.form-name-input {
  width: 50%;
}

.form-description {
  grid-column: 1 / 3;
  grid-row: 3 / 6;
}

.form-description-input {
  height: 100%;
  width: 100%;
}

.form-rating {
  grid-column: 1 / 2;
  grid-row: 7 / 9;
}

.form-image {
  grid-column: 2 / 3;
  grid-row: 7 / 9;
}

.form-submit {
  grid-column: 1/2;
  grid-row: 9 / 10;
}

.image-and-button {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}

.delete-button {
  height: 40px;
  width: 40px;
  align-self: flex-start;
}
